body {
	background-color: #313038;
}

h1 {
	text-transform: capitalize;
	font-size: 3vw;
	color: #000;
	text-shadow: 0.2vw 0 0 #ffe81f, -0.2vw 0 0 #ffe81f, 0 0.2vw 0 #ffe81f,
		0 -0.2vw 0 #ffe81f, 0.1vw 0.1vw #ffe81f, -0.1vw -0.1vw 0 #ffe81f,
		0.1vw -0.1vw 0 #ffe81f, -0.1vw 0.1vw 0 #ffe81f;
}

.flex {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	margin: auto;
}

form {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

form label {
	margin-left: 2vw;
}

ul {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 auto;
}

.anime {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 40%;
	margin: 1vw;
	text-align: center;
	background-color: #f1f1f1;
	text-decoration: none;
	color: black;
	transition: all 0.3s ease-out;
}

.anime:hover {
	transform: scale(1.1);
	box-shadow: 0.5vw 0.5vw 0.8vw 0.3vw rgba(0, 0, 0, 0.7);
	background-image: url(./space.jpeg);
	background-size: contain;
	color: #f1f1f1;
}

.hover {
	box-sizing: border-box;
	padding: 2vw 0;
	margin: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0.3vw 0.3vw 0.8vw 0.3vw rgba(0, 0, 0, 0.5);
}

.hover * {
	pointer-events: none;
	width: 80%;
	margin: 0.5vw auto;
	font-size: 1vw;
}

.hover h3 {
	font-size: 1.5vw;
	align-self: center;
}
